//Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future

.tabview-demo .tabview-custom i, .tabview-demo .tabview-custom span {
    vertical-align: middle;
}

.tabview-demo .tabview-custom span {
    margin: 0 .5rem;
}

.tabview-demo .p-button {
    margin-right: .25rem;
}

.tabview-demo .p-tabview p {
    line-height: 1.5;
    margin: 0;
}
.aligncenter {
    text-align: center;
}

.p-datatable-gridlines thead {
    display: none;
}

.p-datatable .p-sortable-column-icon {
    left: auto;
    right: 0;
}

.p-checkbox {
    width: 35px;
    height: 35px;
}

.p-checkbox .p-checkbox-box {
    width: 35px;
    height: 35px;
}

//driver inspection report badge
.driver-insp-rep {
  .p-tag {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    letter-spacing: -1px;
  }
  .p-tag:hover {
    background-color: rgb(6, 121, 187);
    box-shadow: 0 0 0 2px rgba(21, 156, 228, 0.4);
  }
  .p-tag:active {
    background-color: rgb(91, 176, 216);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
    padding: 5px;
  }

}

//mycss.scss 
@media only screen and (min-width : 770px) and (max-width : 1200px) { 
    .widName {
      min-Width: 260px;
      /* border: 1px solid green; */
    }
  }

@media only screen and (min-width : 501px) and (max-width : 769px) { 
  .widName {
    min-Width: 250px;
    /* border: 1px solid blue; */
  }
}

@media only screen and (min-width : 100px) and (max-width : 500px) { 
  h4{
    font-size: 17px;
    letter-spacing: -1px;
  }
  .widName {
    min-Width: 170px;
    /* border: 1px solid red; */
  }
  .widCheck {
    min-Width: 30px;
    /* border: 1px solid red; */
  }
  .p-checkbox {
    width: 28px;
    height: 28px;
  }

  .p-checkbox .p-checkbox-box {
    width: 28px;
    height: 28px;
  }
}

.gray-out{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  //justify-content: center;
  align-items: center;
}

/* css for driver inspection records checklist  */
.report-checklist{

  .none .p-checkbox .p-checkbox-box {
    background-color: none; 
  }
  .gray .p-checkbox .p-checkbox-box  {
    background-color: rgb(177, 176, 176); 
  }
  .red .p-checkbox .p-checkbox-box {
       background-color: rgb(250, 76, 76);
       border: 1px solid rgb(255, 49, 49);
       &:hover {
        background-color: rgb(255, 49, 49);
       }
  }

  .red-inputtext {
    border: 1px solid rgb(255, 49, 49);
  }
  .red-inputtext:focus {
    border: 1px solid rgb(255, 49, 49);
    box-shadow: 5px rgb(255, 49, 49);
  }

  @media only screen and (min-width : 770px) and (max-width : 1200px) { 
    .widName {
      min-Width: 260px;
      //border: 1px solid green;
    } 
  }

  @media only screen and (min-width : 601px) and (max-width : 769px) { 
    .widName {
      min-Width: 230px;
      //border: 1px solid blue;
    }
  }

  @media only screen and (min-width : 100px) and (max-width : 600px) { 
    h4{
      font-size: 15.5px;
      letter-spacing: -1px;
    }
    .widName {
      min-Width: 145px;
      //border: 1px solid red;
    }
    .widCheck {
      min-Width: 25px;
      //border: 1px solid red;
    }
    .p-checkbox {
      width: 27px;
      height: 27px;
    }

    .p-checkbox .p-checkbox-box {
      width: 27px;
      height: 27px;
    }
  }
}

.gas-oil-img {
  padding-top: 4%;

  img{
    //box-shadow: 0 0 0 2px rgba(21, 156, 228, 0.4);
    max-width: 100%;
    height: fit-content;
  }
  
}

/*end css for driver inspection records checklist  */

/* css for vehicle.js  */
.vehicle-dialog-rcvbtn {
  @media only screen and (max-width : 2500px) { 
    .btns {
      min-width: 105px;
      max-height: 53px;
      padding: 3px;
      margin: 2px;
      //border: 1px solid blue;
    }
    .p-button{
      height: 53px;
      line-height: 1.1;
    }
    
  }
  @media only screen and (max-width : 991px) {
    .btns {
      min-width: 105px;
      max-height: 53px;
      padding: 3px;
      margin: 2px;
      //border: 1px solid green;
    }
    .p-button{
      height: 53px;
      line-height: 1.1;
    }
  }
  @media only screen and (max-width : 767px) { 
    .btns {
      width:100%;
      //border: 1px solid red;
    }
    .p-button{
      height: 100%;
    }
  }
}





 

