//Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future

.tabview-demo .tabview-custom i, .tabview-demo .tabview-custom span {
    vertical-align: middle;
}

.tabview-demo .tabview-custom span {
    margin: 0 .5rem;
}

.tabview-demo .p-button {
    margin-right: .25rem;
}

.tabview-demo .p-tabview p {
    line-height: 1.5;
    margin: 0;
}
.aligncenter {
    text-align: center;
}

.p-datatable-gridlines thead {
    display: none;
}

.p-datatable .p-sortable-column-icon {
    left: auto;
    right: 0;
}

.resize-label {
  .p-checkbox {
    width: 35px;
    height: 35px;
  }

  .p-checkbox .p-checkbox-box {
      width: 35px;
      height: 35px;
  }

  .p-field > label {
    font-size: 20px;
    margin-bottom: 0px;
  }
  
  .p-radiobutton {
    width: 28px;
    height: 28px;
  }

  .p-radiobutton .p-radiobutton-box {
    width: 28px;
    height: 28px;
  }

  .p-field-radiobutton > label {
    font-size: 17px;
    margin-bottom: 0px;
  }
}
/* end css for profile picture  */

/* css for profile picture  */
.img-profile{
  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
  }
}
/* end css for profile picture  */

//driver inspection report badge
.driver-insp-rep {
  .p-tag {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    letter-spacing: -1px;
  }
  .p-tag:hover {
    background-color: rgb(6, 121, 187);
    box-shadow: 0 0 0 2px rgba(21, 156, 228, 0.4);
  }
  .p-tag:active {
    background-color: rgb(91, 176, 216);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
    padding: 5px;
  }

}

//mycss.scss 
@media only screen and (min-width : 770px) and (max-width : 1200px) { 
    .widName {
      min-Width: 260px;
      /* border: 1px solid green; */
    }
  }

@media only screen and (min-width : 501px) and (max-width : 769px) { 
  .widName {
    min-Width: 250px;
    /* border: 1px solid blue; */
  }
}

@media only screen and (min-width : 100px) and (max-width : 500px) { 
  h4 {
    font-size: 17px;
    letter-spacing: -1px;
  }
  .widName {
    min-Width: 170px;
    /* border: 1px solid red; */
  }
  .widCheck {
    min-Width: 30px;
    /* border: 1px solid red; */
  }
  .resize-label {
    .p-checkbox {
      width: 35px;
      height: 35px;
    }
  
    .p-checkbox .p-checkbox-box {
        width: 35px;
        height: 35px;
    }
  
    .p-field > label {
      font-size: 20px;
      margin-bottom: 0px;
    }
    
    .p-radiobutton {
      width: 28px;
      height: 28px;
    }
  
    .p-radiobutton .p-radiobutton-box {
      width: 28px;
      height: 28px;
    }
  
    .p-field-radiobutton > label {
      font-size: 17px;
      margin-bottom: 0px;
    }
  }

  .p-toast {
    width: 320px;
  }
}

/* css for driver inspection records checklist  */
.report-checklist{
  .none .p-checkbox .p-checkbox-box {
    background-color: none; 
  }
  .gray .p-checkbox .p-checkbox-box  {
    background-color: rgb(177, 176, 176); 
  }
  .red .p-checkbox .p-checkbox-box {
       background-color: rgb(250, 76, 76);
       border: 1px solid rgb(255, 49, 49);
       &:hover {
        background-color: rgb(255, 49, 49);
       }
  }

  .red-inputtext {
    border: 1px solid rgb(255, 49, 49);
  }
  .red-inputtext:focus {
    border: 1px solid rgb(255, 49, 49);
    box-shadow: 5px rgb(255, 49, 49);
  }

  @media only screen and (min-width : 770px) and (max-width : 1200px) { 
    .widName {
      min-Width: 260px;
      //border: 1px solid green;
    } 
  }

  @media only screen and (min-width : 601px) and (max-width : 769px) { 
    .widName {
      min-Width: 230px;
      //border: 1px solid blue;
    }
  }

  @media only screen and (min-width : 100px) and (max-width : 600px) { 
    h4 {
      font-size: 15.5px;
      letter-spacing: -1px;
    }
    .widName {
      min-Width: 145px;
      //border: 1px solid red;
    }
    .widCheck {
      min-Width: 25px;
      //border: 1px solid red;
    }
    .p-checkbox {
      width: 27px;
      height: 27px;
    }
    .p-checkbox .p-checkbox-box {
      width: 27px;
      height: 27px;
    }
  }
}

.gas-oil-img {
  padding-top: 4%;

  img {
    //box-shadow: 0 0 0 2px rgba(21, 156, 228, 0.4);
    max-width: 100%;
    height: fit-content;
  }
  
}

/*end css for driver inspection records checklist  */

/* css for vehicle.js  */
.vehicle-dialog-rcvbtn {
  @media only screen and (max-width : 2500px) { 
    .btns {
      min-width: 105px;
      max-height: 53px;
      padding: 3px;
      margin: 2px;
      //border: 1px solid blue;
    }
    .p-button {
      height: 53px;
      line-height: 1.1;
    }
    
  }
  @media only screen and (max-width : 991px) {
    .btns {
      min-width: 105px;
      max-height: 53px;
      padding: 3px;
      margin: 2px;
      //border: 1px solid green;
    }
    .p-button {
      height: 53px;
      line-height: 1.1;
    }
  }
  @media only screen and (max-width : 767px) { 
    .btns {
      width:100%;
      //border: 1px solid red;
    }
    .p-button {
      height: 100%;
    }
  }
}

/* end css for for vehicle.js */

/* css for task list datatable */
.job-datatable {
  .p-datatable-scrollable-wrapper table > .p-datatable-thead {
    display: none
  }
  .p-datatable-scrollable-body > table > .p-datatable-tbody > tr:first-child > td {
    border-top: 0 none;
    padding-top: 15px;
  }
  .p-datatable-scrollable-body > table > .p-datatable-tbody > tr:last-child > td {
    border-top: 0 none;
    padding-bottom: 15px;
  }
  .p-datatable-scrollable-body > table > .p-datatable-tbody > tr > td {
    border: 0 none;
  }
  .p-datatable-scrollable-body > table > .p-datatable-tbody > tr > td {
    border: 0 none;
    background-color: #eeeeee;
  }
}

.job-datatable-item {
  padding: 9px 10px 9px;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 5px #dfdfdf;
  transition: 0.2s;
}
.job-datatable-item:hover {
  background-color: rgb(247, 247, 247);
}
/* end css for task list datatable */

/* css for careta report */
.report-title {
  h4 {
    color: white;
    background-color: rgba(0, 0, 255, 0.897);
    border-radius: 5px 5px 0 0;
    display: inline;
    padding: 4px 20px;
    font-weight: 500;
  } 
  h5 {
    color: rgba(16, 99, 253, 0.945);
    background: linear-gradient(90deg, rgb(233, 232, 232) 0%, rgb(255, 255, 255) 100%);
    padding: 4px 10px;
    font-weight: 500;
    margin: 0;
  }
}

.repair-table {
  table {
    width: 100%;
  }
  td {
    width: 52%;
  }
  td:first-child + td {
    width: 15%;
  }
  td:first-child + td + td {
    width: 33%;
  }

  .red .p-inputtext{
    border: 1px solid red;
  }
}

.image-upload {
  .p-fileupload-buttonbar .p-button + .p-button {
    display: none;
  }
}
/* end css for careta report */

/* css for field inspection report */

.field-inspection-table {
  table {
    // width: 100%;
    border-collapse: collapse;
    line-height: 1;
  }
  tr:not(first-child) {
    border-bottom: 1px solid rgb(192, 192, 192);
  }
  td {
    width: 35px;
    // border: 1px solid blue;
  }
  td:first-child + td {
    width: 35px;
  }
  td:first-child + td + td {
    width: 35px;
  }
  td:first-child + td + td + td {
    width: 150px;
    height: 15px;
  }
  td:first-child + td + td + td + td {
    width: 35px;
  }
}
/* end css for field inspection report */


/* override global size of dialog in all forms*/
.dialog-display {
  @media only screen and (max-width : 2500px) { 
    .p-dialog {
      width: 70vw;
    }
  }
  @media only screen and (max-width : 991px) {
    .p-dialog {
      // width: 70vw;
      width: 100%;
    }
  }
  @media only screen and (max-width : 767px) { 
    .p-dialog {
      width: 340px;
    }
  }
}

.dialog-display-pdf {
  .p-dialog {
    min-width: 1120px;
    width: 1120px;
  }
  .p-dialog-content {
    min-width: 1120px;
    width: 1120px;
  }
}
/* end override global size of dialog in all forms*/

/* global */
.required-asterisk {
  h6::after { 
    content: " *";
    color: red;
    font-weight: 700;
    letter-spacing: -2px;
  }
}

.gray-out {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  align-items: center;
}

.red-field {
  .red {
    .p-inputtext {
      border: 1px solid red;
    }
    .p-checkbox .p-checkbox-box {
      border: 2px solid rgb(255, 49, 49);
      &:hover {
        border: 2px solid rgb(255, 49, 49);
       }
    }
    .p-radiobutton .p-radiobutton-box {
      border: 2px solid rgb(255, 49, 49);
      &:hover {
        border: 2px solid rgb(255, 49, 49);
       }
    }

  }
}

.active-btn {
  .blue-active {
    .p-button {
      background-color: rgb(91, 176, 216);
    }
  }
}


/* end global */




 

