//Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future

.tabview-demo .tabview-custom i, .tabview-demo .tabview-custom span {
    vertical-align: middle;
}

.tabview-demo .tabview-custom span {
    margin: 0 .5rem;
}

.tabview-demo .p-button {
    margin-right: .25rem;
}

.tabview-demo .p-tabview p {
    line-height: 1.5;
    margin: 0;
}
.aligncenter {
    text-align: center;
}

.p-datatable-gridlines thead {
    display: none;
}

.p-datatable .p-sortable-column-icon {
    left: auto;
    right: 0;
}

